/* *,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
} */

body {
    background-color:  #7c3f58 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff6d3;
    font-size: 5;
}

.container{
    width: 30%;
    min-width: 450px;
    background-color: #eb6b6f;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.18);

}

.input-label{
    font-size: 12px;
    position: relative;
    top: -12px;
    /* padding-bottom: 0; */
    /* border: 1px solid black; */
}
.innerbox {
    border: 1px solid black;
}

#text-input {
    width: 30%;
    background-color: #eb6b6f;
    border: none;
    padding: 10px 0;
    margin: auto 0;
    border-bottom: 2px solid #fff6d3;
    color: #fff6d3;
}

#check-btn{
    width: 25%;
    height: 40px;
    margin: auto;
    float: right;
    background-color: #f9a875;
    color: #fff6d3;
    border: 1px solid #fff6d3;
    border-radius:  4px;
    font-weight: 50;
}

#result {
    margin-top: 30px;
    text-align: center;
    color: #7c3f58;
    height: 1.6rem;
}
